<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>chamadaacliente</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:800,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/chamadaacliente-grid.css">
  <link rel="stylesheet" href="css/chamadaacliente.css">
</head>
<body class="body page-chamadaacliente clearfix">
  <div class="background">
    <p class="text">42</p>
    <div class="wrapper"></div>
    <p class="textcaixa">Seu atendimento será efetuado no caixa:</p>
    <p class="textinformativo">Chegou a sua vez!</p>
  </div>
</body>
</html>